.menu-bg {
	margin-top: 30px;
	background-color: #005B41;
	max-width: 100%;
	position: fixed;
	top: 0;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 15px;
	gap: 30px;
	justify-content: center;
}

.menu a {
	color: white;
	font-size: 18px;
	padding: 10px 15px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.menu a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.bloco {
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
}


.bloco:nth-child(1){
	margin: 240px auto 0 auto;
}

.bloco h1 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #0F0F0F;
	border-bottom: 2px solid #008170;
}

.bloco p {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 10px;
	color: #232D3F;
}

.sub {
	font-size: 16px;
	text-transform: uppercase;
	color: #008170;
}

.lista-detalhe li {
	margin-left: 20px;
	list-style: square;
	color: #008170;
}

.lista-detalhe li p {
	font-size: 16px;
	line-height: 1.4;
	color: #232D3F;
}

.verde {
	color: #008170;
	text-transform: none;
}

html {
	scroll-behavior: smooth;
}

body, ul, li, a, h1, p {
	margin: 0px;
	padding: 0px;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

@media (max-width: 600px) {
	.menu-bg {
		position: relative;
		margin-top: 0;
	}
	.menu a {
		font-size: 12px;
		padding: 5px 5px;
		letter-spacing: 1px;
	}
	.menu {
		padding: 15px 5px;
		gap: 15px;
	}
	.bloco:nth-child(1){
		margin: 40px auto 0 auto;
	}
}